<template lang='html'>
  <div class="add">
    <h1>Add a todo</h1>
      <input type="text" placeholder="Enter a title" v-model="newTodo.title">
      <input type="text" placeholder="Enter a description" v-model="newTodo.description">
      <button type="button" @click="$emit('newTodo', newTodo)">Add</button>
  </div>
</template>

<script>
export default {
  name: "Add",
  data() {
    return {
      newTodo: {
        title: "",
        description: ""
      }
    }
  }
}
</script>

<style lang='scss' scoped>
.add {
  padding: $space;
  color: $white;
  background-color: $blue;
}
</style>