<template lang='html'>
  <div class="todo">
    <button class="delete" @click="$emit('delete')">X</button>
    <div :class="{ completed: completed }">
      <template v-if="!completed">
        <button @click="$emit('done')">Mark as Done</button>
      </template>
      <div @click="$emit('click')">
        <h1>{{title}}</h1>
        <!-- <h2>{{completed}}</h2> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Todo",
  props: ["id", "title", "description", "completed", "open"]
}
</script>

<style lang='scss' scoped>
.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
.todo {
  &:hover {
    border: 1px solid $white;
  }
  user-select: none;
  cursor: pointer;
  margin: $space;
  position: relative;
  button.delete {
    background: none;
    padding: 0;
  }
  div {
    border: 1px solid #ccc;
    padding: $space/2;
  }
}
</style>