<template>
    <!-- 
    todolist: DONE
    list on the left, detail view of a single (selected) task on the right DONE
    list on left allows append of new task - DONE
    list on left allows toggle of done/not done
    list organised by open at top, done at bottom
    detail view needs editable title and description, and permanently delete
  -->
  <div>
    <!-- <h2>Todos (total {{todocount}})</h2> -->
    <div class="container">
      <Add class="add" @newTodo="addTodo($event)" />
      <div class="list1">
        <Todo v-for="todo in todos" 
              :key="todo.id" 
              v-bind="todo" 
              @click="openTodo(todo)"
              @done="doneTodo(todo)"
              @delete="deleteTodo(todo)"></Todo>
        <template v-if="todos.length == 0">
          <h2>All done!</h2>
        </template>
      </div>
      <div class="list2">
        <template v-if="open.length > 0">
          <Todo v-for="x in open" :key="`open_${x.id}`"
                v-bind="open" 
                @done="doneTodo(x)"
                @delete="deleteTodo(x)"></Todo>
        </template>
      </div>      
    </div>
  </div>
  
</template>

<script>
import Add from "./Add.vue"
import Todo from "./Todo.vue";
import {mapGetters} from "vuex"
export default {
  name: "TodoList",
  components: {
    Todo, Add
  },
  computed: {
    ...mapGetters([
      'todos', 'done', 'open', 'todocount'
    ])
  },
  methods: {
    openTodo(todo) {
      this.$store.commit('OPEN_TODO', todo)
    },
    addTodo($event) {
      this.$store.commit('ADD_TODO', $event)
    },
    doneTodo(todo) {
      this.$store.commit('DONE_TODO', todo)
    },
    deleteTodo(todo) {
      this.$store.commit('DELETE_TODO', todo)
    }
  },
}
</script>

<style lang="scss">
.container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $space;
}
.add {
  grid-column-start: 1;
  grid-column-end: 13;
}
.list1, .list2 {
  background-color: $beige;
}
.list1 {
  // background-color: #ccc;
  grid-column-start: 1;
  grid-column-end: 7;
}
.list2 {
  // background-color: yellow;
  grid-column-start: 7;
  grid-column-end: 13;
}
</style>

