// google fonts import
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
$ff: 'Lato', sans-serif;

// colors
$white: #fff;
$black: #262626;
$red: #F82246;
$darkred: #C60936;
$navy: #0A1B42;
$blue: #76D4DA;
$beige: #E6E1B7;

$space: 30px;
$fz: 18px;

#app {
  margin: $space;
  font-family: $ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1, h2, h3, h4, h5, h6, .bold {
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  button, input {
    border-radius: 50px;
    padding: $space / 4 $space;
    border: none;
    font-size: $fz;
    margin-right: $space/2;
  }
  button {
    // background-color: $navy;
    // color: white;
  }
  input {
    border-radius: 50px;
    border: none;
    padding: $space/2;
  }
}

p {
  font-size: 18px;
}